body{
    background-color: rgb(27, 26, 26);
}
.hero{
    text-align: center;
    font-size: 35px;
    margin-top: -60px;
    padding-left: -150px;

}
.hero img{
    height: 150px;
    width: 150px;
    float: left;
    margin-top: -40px;
}
.form{
    margin-top: -50px;
    padding-top: 100px;
    padding-left: 500px;
    background-color: aliceblue;
    height: 900px;

}
.form p{
    font-size: 30px;
    text-align: center;
}
.forms-1 p{
    font-size: 20px;
    text-align: center;
}
.form-control{
    width: 500px;
}
