body {
    position: relative;
    height: auto;
    min-height: 100% !important;
}
.hero{
    background-color: black;
    margin-left: -140px;
    height: 920px;
}
.logo{
    padding-top: 150px;
    padding-left: 120px !important;
    position: sticky;

}
.sub-hero h2{
    text-align: center;
    color: rgb(207, 138, 46);
    font-size: 20px;
}
.sub-hero p{
    text-align: center;
    color: beige;
    padding-top: 20px;
}
.btn{
    margin-left: 270px;
    margin-top: 30px;
    text-decoration: none;
    text-decoration-color: navajowhite;
}
.button{
    text-decoration: none;
    color: rgb(236, 119, 23)
}
.image img{
   height: 920px;
   margin-left: -30px;
}
